<%- include("partials/header" )-%>

    <h1>Compose</h1>

    <form action="/compose" method="post">
        <div class="form-group">
            <label class="subText">Title</label>
            <input type="text" name="blogTitle" class="form-control">
        </div>
        <div class="form-group">
            <label class="subText">Post</label>
            <textarea class="form-control" rows="5" cols="40" name="blogBody"></textarea>
        </div>


        <button type="submit" name="" class=" btn btn-primary">Publish</button>
    </form>
    <%- include("partials/footer" )-%>