<%- include("partials/header" )-%>
    <h1>Home</h1>
    <p>
        <%= HomeTitle%>
    </p>
    <% postData.forEach(function(data){ %>
        <h1>
            <%=data.title%>
        </h1>

        <p>
            <!-- .substring(0,100)+"..." -->
            <%=data.postbody%> <a href="/posts/<%=data.title%>">Read More</a>
        </p>
        <%})%>
            <%- include("partials/footer" )-%>